.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  padding: 0px;
  
  text-align: center;

  width: 500px;
  margin: 0 auto;

}
.grid-item {
  background-color: #FFFFFF;
  border: 5px solid #0000FF;
  padding: 20px;
  font-size: 23px;
  text-align: center;

}

body{
	background-image: url('images/source.gif');
	font-family: 'Crete Round', serif;
    font-size: 24px;
}

h1 {
        font-family: 'Georgia', serif;
        font-size: 48px;
        color: blue;
        text-align: center;

}


img{
	object-fit: none;
}

.customize-button{
	width: 100px;
	position: relative;
  top: 90px;
	margin: center;
	background-color: #8A8CC0;
	border: none;
	color: #000000;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.shuffle-button{
	width: 100px;
	position: relative;
	top: 90px;
	margin: center;
	background-color: blue;
	border: none;
	color: #01CCFE;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}




