.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  padding: 0px;
  margin-left: 25%;
  
  width: 50%;

}
.grid-item {
  background-color: #FFFFFF;
  border: 5px solid #0000FF;
  padding: 20px;
  font-size: 30px;
  text-align: center;

}

body{
	background-color: #00BFFF;
	font-family: 'Crete Round', serif;
    font-size: 24px;
}

h1 {
        font-family: 'Chewy', serif;
        font-size: 48px;
        color: blue;

}

